*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}


body {
  background-image: linear-gradient(#615dad, #ffc8da);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 380px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: stretch;
  justify-content: center; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  height: auto;
}

.container__foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.container__popis {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex: wrap;
  line-height: 1.5;
  padding: 20px;
}

.container__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.container__buttons--pravidla {
  background-color: #1fcca4;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  border-bottom: 1.5px solid black;
}

.container__buttons--play {
  background-color: #0197f6;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}

.container__buttons--pravidla:hover {
  background-color: #1cbb96;
}

.container__buttons--pravidla:focus {
  background-color: #1cbb96;
}

.container__buttons--play:hover {
  background-color: #0090e9;
}

.container__buttons--play:focus {
  background-color: #0090e9;
}

/* HRA HTML */

.container__main {
  max-width: 80vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

.container__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.container__navigation--whosturn {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__navigation--text {
  margin-right: 7px;
  font-size: 20px;
}

.container__navigation--icon {
  padding: 10px;
  display: flex;
}

.container__navigation--buttons {
  display: flex;
  justify-content: flex-start;
  width: 80px;

}

.container__navigation--home {
  margin-right: 5px;
  display: flex;
  background-color: #1fcca4;
  padding: 10%;
  cursor: pointer;
  border-radius: 10%;
  aspect-ratio: 1/1;
}

.container__navigation--home:hover {
  background-color: #1cbb96;
}

.container__navigation--home:focus {
  background-color: #1cbb96;
}

.container__navigation--again {
  display: flex;
  background-color: #0197f6;
  cursor: pointer;
  padding: 10%;
  border-radius: 10%;
  aspect-ratio: 1/1;
}

.container__navigation--again:hover {
  background-color: #0090e9;
}

.container__navigation--again:focus {
  background-color: #0090e9;
}


.container__game {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid black;
  padding: 0;
  margin-top: 10px;
}

.container__game--square {
  flex-grow: 1;
  width: 10%;
  padding: 5px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  background-color: transparent;
}

.container__game--square:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.container__game--square:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
